In [6]:
import pandas as pd

In [7]:
import mysql.connector

In [8]:
db_con = mysql.connector.connect(host='localhost',user='root',password='Password@123')
cursor=db_con.cursor()

In [9]:
data=pd.read_excel("C:/Users/USER/Downloads/source_target_field_map.xlsx")
data

,SourceTableName,SourceColumnName,TargetTableName,TargetColumnName
0,PSRW_HealthOfficeVisits,Actions,OfficeVisit,Actions_Health_Visit
1,PSRW_HealthOfficeVisits,Assessment,OfficeVisit,Assessment_Comments
2,PSRW_HealthOfficeVisits,ID,OfficeVisit,Health_Visit_ID
3,PSRW_HealthOfficeVisits,Outcome,OfficeVisit,Screening_Outcome
4,PSRW_HealthOfficeVisits,Outcome_ID,OfficeVisit,NaN
...,...,...,...,...
333,PSRW_SchoolEnrollment,SourceID,StudentDetails,NaN
334,PSRW_SchoolEnrollment,SourceTable,STUDENUdostring,NaN
335,PSRW_SchoolEnrollment,StudentID,StudentProfile,StudentID
336,PSRW_SchoolEnrollment,TermID,TermsDetabli,NaN
337,PSRW_SchoolEnrollment,YearID,TermsDetabli,NaN

In [10]:
source=data.drop(['TargetTableName','TargetColumnName'],axis=1)
target=data.drop(['SourceTableName','SourceColumnName'],axis=1)

In [13]:
source['SourceColun']=source['SourceTableName'] +" "+ source['SourceColumnName']
target['TargetColun']=target['TargetTableName'] +" "+ target['TargetColumnName']

In [14]:
source.head()

,SourceTableName,SourceColumnName,SourceColun
0,PSRW_HealthOfficeVisits,Actions,PSRW_HealthOfficeVisits Actions
1,PSRW_HealthOfficeVisits,Assessment,PSRW_HealthOfficeVisits Assessment
2,PSRW_HealthOfficeVisits,ID,PSRW_HealthOfficeVisits ID
3,PSRW_HealthOfficeVisits,Outcome,PSRW_HealthOfficeVisits Outcome
4,PSRW_HealthOfficeVisits,Outcome_ID,PSRW_HealthOfficeVisits Outcome_ID

In [15]:
lst1=source.SourceTableName.unique().tolist()
print(lst1)

['PSRW_HealthOfficeVisits', 'PS_Enrollment_Al', 'PSRW_HealthGradeLevel', 'PSRW_HealthImmunization', 'PSRW_HealthImmunizationDoses', 'PSRW_HealthMedical', 'PSRW_HealthScreeningTypes', 'PSRW_HealthScreeningWaiver', 'PSRW_HealthStudHearing', 'PSRW_HealthStudOral', 'PSRW_HealthStudScoliosis', 'PSRW_HealthStudTuberculosis', 'PSRW_HealthStudVision', 'PSRW_HealthVitalSigns', 'VWStudentCoreFieldsUC', 'DistrictSchoolView', 'PSSIS_Student_Demographics', 'PSSIS_Student_Enrollments', 'PSRW_SchoolEnrollment']

In [20]:
for TableName in lst1:  
    r_df = source[source["SourceTableName"] == TableName] 
    s_col=r_df["SourceColumnName"].tolist()
    query="CREATE TABLE " +  TableName + " ("
    colQuery=""
    Col_count=0
    for colName in lt_col:
        Col_count=Col_count+1
        colQuery=colName + " varchar(40) "
        if(len(s_col)!=Col_count):
            colQuery=colQuery+"," 
        query=query+" "+ colQuery 
        query=query + ");"
        cursor.execute("use task1")
        cursor.execute(query)

    print(query)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 1

In [19]:
lst2=target.TargetTableName.unique().tolist()
print(lst2)

['OfficeVisit', 'StudentProfile', 'StudentHealthCertification', 'Immunization', 'Inventory', 'ScreeningTypes', 'Waivers', 'Hearing', 'Oral/Dental', 'Scoliosis', 'Tuberclosis', 'Vision', 'VitalSigns', 'StudentContacts', 'SchoolDetails', nan, 'StudentDetails', 'SourceisasequDesequenceiue', 'STUDENUdostring', 'TermsDetabli']